@tailwind base;
@tailwind components;
@tailwind utilities;
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100dvh;
 color: white;
}
.container {
 width: 100dvw;
 height: 100dvh;
 background-color: rgba(17, 25, 37, 0.7);
 backdrop-filter: blur(10px) saturate(180%);
 display: flex;
}
.chatContainer {
 height: 100dvh;
 width: 100dvw;
 background-color: rgba(17, 25, 37, 0.7);
 backdrop-filter: blur(10px) saturate(180%);
 border: 1px solid rgba(255, 255, 255, 0.12);
}
.color-change-2x {
 -webkit-animation: color-change-2x 30s ease-in-out infinite alternate both;
 animation: color-change-2x 30s ease-in-out infinite alternate both;
}

@-webkit-keyframes color-change-2x {
 0% {
  background: #ffffff;
 }
 10% {
  background: #f2f2f2;
 }
 20% {
  background: #e6e6e6;
 }
 30% {
  background: #d9d9d9;
 }
 40% {
  background: #cccccc;
 }
 50% {
  background: #bfbfbf;
 }
 60% {
  background: #cccccc;
 }
 70% {
  background: #d9d9d9;
 }
 80% {
  background: #e6e6e6;
 }
 90% {
  background: #f2f2f2;
 }
 100% {
  background: #ffffff;
 }
}

@keyframes color-change-2x {
 0% {
  background: #ffffff;
 }
 10% {
  background: #f2f2f2;
 }
 20% {
  background: #e6e6e6;
 }
 30% {
  background: #d9d9d9;
 }
 40% {
  background: #cccccc;
 }
 50% {
  background: #bfbfbf;
 }
 60% {
  background: #cccccc;
 }
 70% {
  background: #d9d9d9;
 }
 80% {
  background: #e6e6e6;
 }
 90% {
  background: #f2f2f2;
 }
 100% {
  background: #ffffff;
 }
}
